* {
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

html,
body,
#app {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  @apply bg-white/1;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spacer {
  flex-grow: 1;
}

::selection {
  @apply rounded bg-black/primary text-white/primary;
}
::-moz-selection {
  @apply rounded bg-black/primary text-white/primary;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}
