* {
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

html,
body,
#app {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  @apply bg-white/1;
}
